@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
  overflow-x: hidden;
  background: #ccc;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input,
textarea {
  padding: 1rem;
  border: none;
  outline: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 25px;
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0;
  }
}

.btn {
  display: inline-block;
  width: 180px;
  height: 55px;
  line-height: 53px;
  text-align: center;
  border: 2px solid #fcb72b;
  background: #fcb72b;
  color: #fff;
}

.btn:hover {
  background: transparent;
  color: #fcb72b;
}

.header {
  height: 65px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  background: #fff;
}

.header input {
  display: none;
}

.header label {
  position: absolute;
  width: 23px;
  height: 23px;
  background: url("/assets/icons/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header input:checked ~ .header__menu {
  left: 0;
}

.header input:checked ~ label {
  background: url("/assets/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__logo {
  margin: 0 auto;
}

.header__logo img {
  width: 75px;
}

.header__menu {
  background: #333a44;
  position: fixed;
  z-index: -1;
  top: 0;
  left: -68vw;
  width: 68vw;
  height: 100vh;
  padding: 135px 25px 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.header__menu ul a {
  font-family: "Space Mono";
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.header__menu .btn {
  margin-bottom: 25px;
  display: block;
}

.header__cta {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header {
    height: 96px;
  }
  .header label {
    display: none;
  }
  .header__logo img {
    width: 107px;
  }
  .header__menu {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu ul {
    all: unset;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
  }
  .header__menu ul a {
    color: #939caa;
  }
  .header__menu .btn {
    display: none;
  }
  .header__cta {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header .container {
    all: unset;
    max-width: 1110px;
    margin: 0 auto;
    height: 100%;
    gap: 60px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header input {
    display: none;
  }
  .header label {
    display: none;
  }
  .header__logo {
    margin: 0;
  }
}

.hero {
  margin-top: 65px;
  height: 650px;
  background: url("/assets/patterns/right-arrow.svg"), url("/assets/images/home-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: left -300px bottom 20px, center center;
  color: #fff;
  text-align: center;
}

.hero .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 125px;
}

.hero h1 {
  font-size: 40px;
  font-family: "Space Mono";
  margin-bottom: 35px;
}

.hero p {
  color: #e5ecf4;
  line-height: 1.4;
  font-size: 15px;
  max-width: 300px;
  margin-bottom: 40px;
}

.hero .btn {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 96px;
    background: url("/assets/patterns/right-arrow.svg"), url("/assets/patterns/white-circles.svg"), url("/assets/images/home-hero-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left -100px bottom 50px, right -30px bottom 50px, center center;
  }
  .hero h1 {
    margin: 0 auto;
    text-align: center;
    max-width: 480px;
    line-height: 1.2;
    margin-bottom: 40px;
    font-size: 50px;
  }
  .hero p {
    max-width: 565px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background: url("/assets/patterns/line.svg"), url("/assets/patterns/white-circles.svg"), url("/assets/patterns/right-arrow.svg"), url("/assets/images/home-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: left -30px bottom 265px, right -30px bottom 140px, bottom 131px left 670px, center center;
    text-align: left;
    width: 100%;
  }
  .hero .container {
    display: block;
  }
  .hero h1 {
    max-width: 600px;
    text-align: left;
    margin: 0;
    line-height: 1.1;
    margin-bottom: 50px;
    font-size: 55px;
    padding-top: 35px;
  }
  .hero p {
    margin: 0;
    width: 100%;
    width: 405px;
    margin-left: 60px;
    margin-bottom: 45px;
  }
  .hero .btn {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1441px) {
  .hero {
    background: url("/assets/patterns/line.svg"), url("/assets/patterns/white-circles.svg"), url("/assets/patterns/right-arrow.svg"), url("/assets/images/home-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: left 200px bottom 265px, right 200px bottom 140px, bottom 131px left 900px, center center;
    background-size: auto, auto, auto, cover;
    text-align: left;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */