@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@400;700&display=swap");

$white: #fff;
$yellow: #fcb72b;
$yellow-light: #fff4df;
$blue: #495567;
$blue-gray: #333a44;
$gray: #939caa;
$gray-light: #e5ecf4;
$gray-extra-light: #f2f5f9;
$blue-gray-light: #e5ecf4;

@import "partials/reset";
@import "partials/header";
@import "partials/hero";
@import "partials/cards";
